<h1 class="cabecera">Lista de Personajes Rick and Morty</h1>


<div class="personajes"> 
  <div class="items">
    <p>Total de personajes: {{total}}</p>
    <p>Paginas: {{numPaginas}}</p>
    <p>Numero de pagina: {{paginaActual}}</p>
    <button (click)="onClick(false)" class="btn btn-primary" [disabled]="paginaActual==1">Anterior</button>
    <button (click)="onClick(true)" class="btn btn-primary" [disabled]="paginaActual==numPaginas">Siguiente</button>
  </div>

  <div class="personaje" *ngFor="let personaje of personajes" [ngClass]="{vivo:personaje.status=='Alive',muerto:personaje.status=='Dead'}">
    <h3>{{personaje.name}}</h3>
    <img [src]="personaje.image">
    <p>{{personaje.status}}</p>
    <p>{{personaje.species}}</p>

  </div>
</div>
